include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include service_desk *.css
recursive-include service_desk *.csv
recursive-include service_desk *.html
recursive-include service_desk *.ico
recursive-include service_desk *.js
recursive-include service_desk *.json
recursive-include service_desk *.md
recursive-include service_desk *.png
recursive-include service_desk *.py
recursive-include service_desk *.svg
recursive-include service_desk *.txt
recursive-exclude service_desk *.pyc